<!-- 
    A component should be a rooted tree.  Our root is a div.  We use a class
    name so that it is easy to find the root, and easy to style the list.
-->
<main>
    <h1>Todo List</h1>
    <!-- 
        This empty div is where we will put todo-item components.  We give it a
        name, so that it is easy to find and easy to style.
    -->
    <div></div>
    <!--
        This button is how we add new items.  Again, we give it a name, so that
        it is easy to find and easy to style.
    -->
    <button>+</button>
</main>
<!-- Attach a style sheet to this component -->
<style>
    @import url('./src/components/appRoot.css')
</style>