/* Set styles that apply to the whole todo item */
.todo-item {
    /* Get the colors to look good */
    background: var(--primary-color);
    color: var(--text-color);
    /* We want things to flow left-to-right, vertically aligned */
    display: flex;
    align-items: center;
    /* Put some padding around them, and round the border on the item */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 400px;
}

/* Fill as much space as possible */
.space {
    flex: 1 1 auto;
}

/* Style the delete button */
button {
    /* Make it have a rounded border */
    border-radius: 3px;
    border-style: none;
    /* Set its colors and font size */
    font-size: 1.2rem;
    background: var(--accent-color);
    color: var(--primary-color);
}

/* A style for strikethrough (when a task is done) */
.strike-through {
    text-decoration: line-through;
}

/* Make checkboxes a little bigger */
input[type=checkbox] {
    zoom: 1.7;
}

/* Make the input box size match the rest of the view/controller */
input[type=text] {
    border-radius: 3px;
    height: 20px;
    font-size: 1rem;
    width: 300px;
}